.main-wrapper {
  min-height: 100%;
}

.contents {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
  padding: 0 0 70px 0;
}

/* Header */

header {
  position: relative;
  width: 100%;
  height: 80px;
  display: table;
  vertical-align: baseline;
  background-color: #ffffff;
  border-bottom: 1px solid #aaa;
}

header button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 30px;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  background: #FFF;
  border: 2px solid #3F51B5;
}

.header-title-wrap {
  position: relative;
  width: 730px;
  height: 80px;
  margin: 0 auto;
  bottom: 10px;
}

.header-title {
  position: absolute;
  float: left;
  font-weight: bold;
  bottom: 0;
}

.header-title-main {
  left: 0;
  color: #222a35;
  font-size: 32pt;
}

.header-title-sub {
  right: 0;
  font-size: 27pt;
  color: #203889;
}

.main-date {
  position: absolute;
  font-size: 15pt;
  font-weight: bold;
  right: 30px;
  top: 10px;
}

/* Nav */

.nav-wrapper {
  position: relative;
  margin: 30px auto;
  max-width: 1820px;
  height: 70px;
  overflow: hidden;
}

nav {
  position: relative;
  height: 56px;
  border: 1px solid #959595;
  border-radius: 3px 3px 3px 3px;
  background: #fff;
}

.nav-item {
  position: relative;
  float: left;
  width: 363px;
  height: 54px;
  line-height: 54px;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.nav-seperator {
  position: relative;
  display: inline-block;
  width: 1px;
  background-color: black;
}

nav .selected {
  color: #fff;
  background-color: #002157;
  background-image: none;
}

nav .selected-arrow {
  position: absolute;
  z-index: 999;
  width: 18px;
  height: 10px;
  bottom: -10px;
  left: 50%;
  background: url('/assets/images/tab_click.png');
}

footer {
  width: 100%;
  height: 50px;
  margin-top: -70px;
  background: url('/assets/images/seocho_footer.png') no-repeat right;
  background-color: #fff;
}


.timeoutBtn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.timeoutBtn i {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  font-size: 40px;
  vertical-align: middle;
}
