<div class="main-wrapper">
  <header>
    <button ng-click="vm.timeoutBtn()">
      <i class="glyphicon" ng-class="{true: 'glyphicon-pause', false: 'glyphicon-play'}[tabTimerFlag]"></i>
    </button>
    <div class="header-title-wrap">
      <p class="header-title header-title-main">서초 예술의마을 경로당</p>
      <p class="header-title header-title-sub">모니터링 시스템</p>
    </div>
    <div class="main-date">
      {{vm.currentTime}} | {{vm.today}}
    </div>
  </header>

  <div class="nav-wrapper">
    <nav>
    <span class="nav-item" ui-sref="main.summary" ng-class="{selected: $state.current.name == 'main.summary'}">
      모니터링 요약
      <div ng-class="{'selected-arrow': $state.current.name == 'main.summary'}"></div>
    </span>
    <span class="nav-item" ui-sref="main.secho2" ng-class="{selected: $state.current.name == 'main.secho2'}">
      에너지 생산 및 사용량
      <div ng-class="{'selected-arrow': $state.current.name == 'main.secho2'}"></div>
    </span>
    <span class="nav-item" ui-sref="main.secho3" ng-class="{selected: $state.current.name == 'main.secho3'}">
      에너지 비용 절감
      <div ng-class="{'selected-arrow': $state.current.name == 'main.secho3'}"></div>
    </span>
    <span class="nav-item" ui-sref="main.secho4" ng-class="{selected: $state.current.name == 'main.secho4'}">
      적용 기술 요소
      <div ng-class="{'selected-arrow': $state.current.name == 'main.secho4'}"></div>
    </span>
      <span class="nav-item">사용자 메뉴얼</span>
    </nav>
  </div>

  <div class="contents" ui-view></div>
</div>

<footer class="hidden-xs">
</footer>
