<div id="reduce-graph" class="graph-wrap">
  <!--가스 m3 당 581.8원,-->
</div>

<div class="legend-wrap">
  <div class="legend-header">
    <div class="lightning-icon"></div>
    <div class="legend-header-title">에너지 비용 절감액</div>
    <div class="legend-header-title-seperator"></div>
    <div class="legend-header-title-sub">한전 비주거용 주택용전력 사용량별 전기요금 기준</div>
  </div>

  <div class="legend-body">
    <div class="col-sm-6">
      2016년 {{ main.lastMonth }}월
      <span class="color-green">{{ main.lastMonthReduceAmount | number:1 }}</span>원 절감
    </div>
    <div class="col-sm-6">
      누적 (2016년 1월부터)
      <span class="color-green">{{ main.untilLastMonthReduceAmount | number:1 }}</span>원 절감
    </div>
  </div>
</div>
