th {
  text-align: center;
  vertical-align: middle !important;
  color: #FFFFFF;
  font-weight: 900;
  background: rgb(0,33,87); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,33,87,1) 0%, rgba(0,51,135,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,33,87,1) 0%,rgba(0,51,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,33,87,1) 0%,rgba(0,51,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002157', endColorstr='#003387',GradientType=0 ); /* IE6-9 */
}

tr {
  text-align: center;
  font-size: 1.5em;
  height: 75px;
  line-height: 60px;
  border-bottom: 5px solid #EDEFF5;
}

tr:nth-child(odd) {
  background-color: #c8d0de;
}
tr:nth-child(even) {
  background-color: #dae0e9;
}

td {
  vertical-align: middle !important;
}
