<div class="col-sm-12">
  <table class="table">
    <thead>
    <tr>
      <th class="col-sm-2 color-cyan">생산량</th>
      <th class="col-sm-2">현재 생산량</th>
      <th class="col-sm-2">금일 생산량</th>
      <th class="col-sm-2">당월 생산량</th>
      <th class="col-sm-2">연간 생산량</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-sm-2">태양광발전</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyProd.solar).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyProd.solar).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyProd.solar).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyProd.solar).value | number:2 }} kWh</td>
    </tr>
    <tr>
      <td class="col-sm-2">발전보일러</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyProd.boiler).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyProd.boiler).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyProd.boiler).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyProd.boiler).value | number:2 }} kWh</td>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th class="color-yellow col-sm-2">사용량</th>
      <th class="col-sm-2">현재 소비량</th>
      <th class="col-sm-2">금일 소비량</th>
      <th class="col-sm-2">당월 소비량</th>
      <th class="col-sm-2">연간 소비량</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-sm-2">난방</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyLoad.heat).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyLoad.heat).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyLoad.heat).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyLoad.heat).value | number:2 }} kWh</td>
    </tr>
    <tr>
      <td class="col-sm-2">냉방</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyLoad.cooling).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyLoad.cooling).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyLoad.cooling).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyLoad.cooling).value | number:2 }} kWh</td>
    </tr>
    <tr>
      <td class="col-sm-2">온수</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyLoad.hotwater).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyLoad.hotwater).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyLoad.hotwater).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyLoad.hotwater).value | number:2 }} kWh</td>
    </tr>
    <tr>
      <td class="col-sm-2">조명</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyLoad.lighting).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyLoad.lighting).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyLoad.lighting).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyLoad.lighting).value | number:2 }} kWh</td>
    </tr>
    <tr>
      <td class="col-sm-2">환기</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyLoad.venting).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyLoad.venting).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyLoad.venting).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyLoad.venting).value | number:2 }} kWh</td>
    </tr>
    <tr>
      <td class="col-sm-2">생활</td>
      <td class="col-sm-2">{{ main._.last(main.timeEnergyLoad.etc).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.dayEnergyLoad.etc).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.monthEnergyLoad.etc).value | number:2 }} kWh</td>
      <td class="col-sm-2">{{ main._.last(main.yearEnergyLoad.etc).value | number:2 }} kWh</td>
    </tr>
    </tbody>
  </table>
</div>
