.graph-wrap {
  margin: 50px 15px;
}

.legend-wrap {
  overflow: hidden;
  padding: 30px;
  border: 3px solid #4F85BF;
  background-color: #FFF;
}

.lightning-icon {
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background: url('/assets/images/lightning.png') no-repeat center;
}

.legend-header-title {
  float: left;
  line-height: 30px;
  font-size: 1.8em;
}

.legend-header-title-seperator {
  position: relative;
  float: left;
  width: 1px;
  height: 18px;
  margin: 5px 10px;
  background-color: #000;
}

.legend-header-title-sub {
  line-height: 30px;
  font-size: 1.2em;
}

.legend-body {
  text-align: center;
  padding-top: 20px;
  font-size: 2.5em;
  font-weight: 100;
}

.legend-body span {
  margin-left: 20px;
}
