.panel-header {
  overflow: hidden;
  height: 55px;
  line-height: 55px;
  padding-left: 30px;
  background: rgb(0,33,87); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,33,87,1) 0%, rgba(0,51,135,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,33,87,1) 0%,rgba(0,51,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,33,87,1) 0%,rgba(0,51,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002157', endColorstr='#003387',GradientType=0 ); /* IE6-9 */
}

.panel-title {
  float: left;
  line-height: 55px;
  font-size: 1.8em;
  color: #FFFFFF;
}

.panel-title-seperator {
  position: relative;
  float: left;
  width: 1px;
  height: 18px;
  margin: 20px 10px;
  background-color: #fff;
}

.panel-title-sub {
  line-height: 55px;
  font-size: 1.2em;
  color: #FFF;
}

.panel-content-small {
  overflow: hidden;
  padding: 2% 0;
  height: 160px;
  width: 100%;
}

.panel-content-medium {
  overflow: hidden;
  padding: 2% 0;
  height: 270px;
  width: 100%;
}

.panel-content-large {
  overflow: hidden;
  padding: 2% 0;
  height: 368px;
  width: 100%;
}

.panel-content-wrap {
  position: relative;
  width: calc(100% - 200px);
  height: 100%;
  margin-left: 200px;
}

.panel-content-extra-wrap {
  position: relative;
  width: 100%;
}

.panel-content-extra {
  position: relative;
  background-color: #FFF;
  height: 80px;
  border-top: 1px solid #94B6DF;
}

.panel-content-section {
  position: relative;
  height: 100%;
  border-right: 1px solid #94B6DF;
}

.panel-content-section:last-child {
  border-right: none;
}

.panel-content-title {
  height: 70px;
  line-height: 70px;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.panel-content-title-sub {
  position: relative;
  top: -45px;
  font-size: 0.5em;
  text-align: center;
}

.panel-content-values {
  position: relative;
  height: 75px;
  width: 100%;
  overflow: visible;
  font-weight: 900;
  bottom: 0;
}

.panel-content-value {
  position: relative;
  margin: 0 auto;
  padding-right: 5%;
  width: 150px;
  height: 75px;
  line-height: 75px;
  text-align: right;
  font-size: 3em;
}

.panel-content-value-small {
  position: relative;
  font-weight: 900;
  font-size: 2.5em;
}

.panel-content-value-large {
  position: relative;
  font-weight: 900;
  font-size: 4em;
  margin: 40px 30px 20px 30px;
  text-align: center;
}

.panel-content-unit {
  position: absolute;
  width: 35px;
  color: #C0C0C0;
  font-weight: 900;
  font-size: 0.5em;
  bottom: -10px;
  right: -15%;
}

.panel-content-extra-value {
  position: absolute;
  float: left;
  font-size: 3em;
  font-weight: 900;
  right: 330px;
  bottom: 10px;
}

.panel-content-extra-sub {
  position: absolute;
  float: left;
  font-size: 2em;
  font-weight: 700;
  right: 140px;
  bottom: 15px;
}

#weather-icon {
  position: relative;
  float: left;
  width: 150px;
  height: 220px;
  line-height: 220px;
  margin-left: 50px;
}

.section-three {
  border-right: 1px solid #94B6DF;
  padding: 50px 0;
  height: 340px;
  text-align: center;
}

.section-three:last-child {
  border: none;
}

.panel-weather-img {
  margin-top: 35px;
  height: 100px;
}
