<section class="col-lg-6">
  <div class="panel">
    <div class="panel-header">
      <p class="panel-title">에너지</p>
      <p class="panel-title color-cyan">생산량</p>
      <div class="panel-title-seperator"></div>
      <p class="panel-title-sub">오늘 누적량</p>
    </div>
    <div class="panel-content-small">
      <div class="col-sm-6 col-xs-6 panel-content-section">
        <div class="panel-content-title">태양광 발전</div>
        <div class="panel-content-values">
          <div class="panel-content-value color-blue">
            {{ main._.last(main.dayEnergyProd.solar).value | number:1 }}
            <div class="panel-content-unit">kWh</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6 panel-content-section">
        <div class="panel-content-title">발전 보일러</div>
        <div class="panel-content-values">
          <div class="panel-content-value color-blue">
            {{ main._.last(main.dayEnergyProd.boiler).value | number:1 }}
            <div class="panel-content-unit">kWh</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-header">
      <div class="panel-title">에너지</div>
      <div class="panel-title color-yellow">소비량</div>
      <div class="panel-title-seperator"></div>
      <div class="panel-title-sub">오늘 누적량</div>
    </div>
    <div class="panel-content-small">
      <div class="col-sm-6 col-xs-6 panel-content-section">
        <div class="panel-content-title">5대 에너지
          <div class="panel-content-title-sub">( 낸방,난방,온수,조명,환기 )</div>
        </div>
        <div class="panel-content-values">
          <div class="panel-content-value color-blue">
            {{ main.dayEnergyLoad5 | number:1 }}
            <div class="panel-content-unit">kWh</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6 panel-content-section">
        <div class="panel-content-title">생활 에너지</div>
        <div class="panel-content-values">
          <div class="panel-content-value color-blue">
            {{ main._.last(main.dayEnergyLoad.etc).value | number:1 }}
            <div class="panel-content-unit">kWh</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-header">
      <div class="panel-title">에너지</div>
      <div class="panel-title color-red">절감량</div>
      <div class="panel-title-seperator"></div>
      <div class="panel-title-sub">지난달 누적량</div>
    </div>
    <div class="panel-content-small">
      <div class="col-sm-6 col-xs-6 panel-content-section">
        <div class="panel-content-title">리모델링 전</div>
        <div class="panel-content-values">
          <div class="panel-content-value color-blue">
            {{ main.year2015gasKwh[main.lastMonth] + main.year2015elecKwh[main.lastMonth].value | number:1 }}
            <div class="panel-content-unit">kWh</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6 panel-content-section">
        <div class="panel-content-title">리모델링 후</div>
        <div class="panel-content-values">
          <div class="panel-content-value color-blue">
            {{ main.remodelingAfter | number:1 }}
            <div class="panel-content-unit">kWh</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-content-extra-wrap">
      <div class="panel-content-extra">
        <p class="panel-content-extra-value color-red">{{ main.remodelingReduce | number:1 }} kwh</p>
        <p class="panel-content-extra-sub">({{ main.remodelingReducePercent | number:1 }}%) 절감</p>
      </div>
    </div>
  </div>
</section>
<section class="col-lg-6">
  <div class="panel">
    <div class="panel-header">
      <p class="panel-title title-main">외부</p>
    </div>
    <div class="panel-content-medium">
      <div id="weather-icon">
        <img src="assets/images/weather/{{ main.weatherData.SKY }}.png" alt="날씨" width="150"/>
      </div>
      <div class="panel-content-wrap">
        <div class="col-sm-7 panel-content-section">
          <p class="panel-content-value-large color-blue">{{ main.weatherData.T1H | number:1 }}℃</p>
          <p class="panel-content-title">온도</p>
        </div>
        <div class="col-sm-5 panel-content-section">
          <p class="panel-content-value-large color-blue">{{ main.weatherData.REH | number:1 }}%</p>
          <p class="panel-content-title">습도</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-header">
      <p class="panel-title title-main">내부</p>
    </div>
    <div class="panel-content-large">
      <div class="col-sm-4 section-three">
        <p class="panel-content-title">온도</p>
        <div class="panel-weather-img">
          <img src="../assets/images/temperature.png" alt="온도">
        </div>
        <p class="panel-content-value-small color-blue">{{ main.indoor.temp | number:1 }}℃</p>
      </div>
      <div class="col-sm-4 section-three">
        <p class="panel-content-title">습도</p>
        <div class="panel-weather-img">
          <img src="../assets/images/humidity.png" alt="습도">
        </div>
        <p class="panel-content-value-small color-blue">{{ main.indoor.humid | number:0 }}RH%</p>
      </div>
      <div class="col-sm-4 section-three">
        <p class="panel-content-title">CO2</p>
        <div class="panel-weather-img">
          <img src="../assets/images/co2.png" alt="co2">
        </div>
        <p class="panel-content-value-small color-blue">{{ main.indoor.co2 | number:0 }}ppm</p>
      </div>
    </div>
  </div>
</section>
