@include('nanum.css');

* {
  padding: 0;
  margin: 0;
  line-height: inherit;
  text-decoration: none;
  border: 0 none;
  font-style: normal;
  font-weight: inherit;
  color: inherit;
  list-style-type: none;
}

html,body {
  height: 100%;
}

body {
  font-family: nanumsquare !important;
  background-color: #edeff5;
}

div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, a, button, select {
  margin: 0;
  padding: 0;
}
