@charset "utf-8";

@font-face {
 font-family: 'nanumsquare';
 src: url(../font/nanumsquare/NanumSquareR.eot);
 src: url(../font/nanumsquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../font/nanumsquare/NanumSquareR.woff) format('woff'),
      url(../font/nanumsquare/NanumSquareR.ttf) format('truetype');
}
